
header, .copyright{
    background-color: #2c3e50;
}

.hero, .about{
    background-color: #1abc9c;
}

.general{
    background-color: #3a546d;
}

.container{
    color: white;
}

.main-nav ul{
    gap: 0 10px;
    justify-content: flex-end;
    display:flex;
    list-style: none;
}

.divider_bar{
    height: 4px;
    background-color: white;
    width: 100px;
    border-radius: 10px;
}

.bi-cloud-arrow-down-fill{
    padding-right: 4px;
}

.portfolio .divider_bar, .contact .divider_bar{
    background-color: black;
}

.container-custom, .container-custom-hero, .container-custom-hero, .container-sm, .copyright{
    color: white;
}

.container-custom, .container-custom-about, .container-custom-hero{
    margin: auto;
}

.container-custom{
    max-width: 750px;
}

.container-custom-about{
    max-width: 700px;
}

.container-custom-hero{
    max-width: 250px;   
}

.container-custom-about nav ul{
    list-style: none;
    padding: 0;
}

.contact .container-custom-about{
    color: black;
}

.social_icons i {
    border: 1px solid white;
    height: 27px;
    width: 27px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    display: block;
}
